/* write your override styles here */

body div#wall .tag-1 {
    color: transparent;
    width: 0%;
}

body div#wall #tag-2 {
    color: transparent;
    width: 0%;
}

body div#wall #tag-3 {
    color: transparent;
    width: 0%;
}

body div#wall .parent #tag-4 {
    color: transparent;
    width: 0%;
}

body div#wall .parent #tag-5.slick {
    color: transparent;
    width: 0%;
}

body div#wall .parent #tag-6 {
    width: 0%;
}

body div#wall .parent #tag-7.slick {
    width: 0%;
}